---
import Layout from "../layouts/Layout.astro"
import AboutMe from "../components/AboutMe.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Hero from "../components/Hero.astro"
import "../styles/global.css";

import { info, Footerss } from '../content/data/db'
---


<Layout
  title="Amilcar Moncada - Portafolio"
  description="Portafolio profesional, ademas de ser un proyecto de la clase de Sistemas Expertos"
>
  <main class="px-4">
    <SectionContainer id="inicio" class="md:py-22">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>

    <SectionContainer id="sobre-mi" >
    <div class="space-y-24">
      {
        info.map((card) => (
          <AboutMe
            title={card.title}
            text={card.text}
            icon={card.icon}
            image={card.image}
          />
        ))
      }
      </SectionContainer>

  </div>
  </main>
</Layout>