
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="text-xl [&>p]:mb-8 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
          Dentro de mis mayores fortalezas es el <strong>adaptarme a cualquier herramienta</strong>, 
          lenguaje o tecnología que el negocio desee, ya que tengo la capacidad y el deseo 
          de seguir aprendiendo más sobre nuevas y ya existentes tecnologías que alimenten 
          mi deseo por sumergirme más en el mundo de la <strong>programación y el desarrollo</strong>. 
          para el <strong>desarrollo de soluciones como el ciclo de vida de un software</strong>, desde el 
          <strong>diseño</strong> hasta la <strong>implementación y monitoreo</strong> de las mismas. 
        </p>
      
        <p>
          Otra de mis pasiones es la <strong>iglesia</strong>, soy un católico comprometido al <strong>servicio de niños y jóvenes</strong> de mi comunidad parroquial, 
          teniendo un recorrido en pastoral juvenil y pastoral de catequesis, confirmando que <strong>Dios ha sido 
          y es el motor que cada día me lleva a alcanzar las metas que me propongo cumplir.</strong> 
        </p>
      </div>
    </article>