---
 const personalImageAlt = "Amilcar Moncada"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="text-xl [&>p]:mb-8 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="dark:[&>strong]:text-yellow-200  [&>strong]:font-bold ">
      Mi nombre es <strong>Amílcar José Moncada Vásquez</strong>, soy <strong>Hondureño</strong> y tengo <strong>20 años</strong>.
    </p>

    <p>
      Desde muy niño amé la tecnológia, la robótica y todo lo relacionado con computadoras, 
      eso fue lo que poco a poco me fue motivando a estar donde estoy y sumergirme en 
      múltiples tecnologías del campo, comprendiendo los distintos recursos necesarios 
      para el <strong>desarrollo de soluciones como el ciclo de vida de un software</strong>, desde el 
      <strong>diseño</strong> hasta la <strong>implementación y monitoreo</strong> de las mismas. 
    </p>

    <p>
      Además de toda mi motivación, mi capacidad de poder <strong>dar soluciones</strong> y poder entender 
      lo que el negocio necesita me ha permitido desempeñarme de la mejor manera en los diferentes
      proyectos clase y externos a lo largo de mi experiencia. 
    </p>

  </div>

  <img width="200" height="200" src="/images/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

